extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Maecenaset felis nec justo dictum tempus. Nulla ac commodo nibh. Maecenas mollis neque tortor, sit amet interdum mauris finibus et.In scelerisque neque vel neque porta finibus. Vestibulum mattis,felis vel efficitur consectetur, nibh nisl pulvinar sapien,vel gravida erat lacus pellentesque sem.Aenean id gravida elit. Donec congue blandit commodo. 
                p Aliquam erat volutpat. Sed elementum ligula orci, in maximus nisi euismod a.Praesent sit amet interdum justo, eu scelerisque leo. In eget rhoncus nibh. Cras nec porttitor arcu.Donec porttitor venenatis erat id tempus. Nulla nisl nunc, pretium non pellentesque eu, rhoncus sit amet nisi.Ut tristique lectus ut urna sodales, a iaculis dui placerat. Donec non lectus quis dui sodales mollis non ac sem.
            .col-mb-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class='img-fluid')
        include ./layout/bloque_viajes

    .descuento
        .container 
            .row 
                .col-md-6
                    .contenido 
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Noviembre de 2023 - 28 noviembre de 2023
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales