extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Maecenas et felis nec justo dictum tempus. Nulla ac commodo nibh. Maecenas mollis neque tortor, sit amet interdum mauris finibus et.In scelerisque neque vel neque porta finibus. Vestibulum mattis,felis vel efficitur consectetur, nibh nisl pulvinar sapien,vel gravida erat lacus pellentesque sem.Aenean id gravida elit. Donec congue blandit commodo.

                p Aliquam erat volutpat. Sed elementum ligula orci, in maximus nisi euismod a.Praesent sit amet interdum justo, eu scelerisque leo. In eget rhoncus nibh. Cras nec porttitor arcu.Donec porttitor venenatis erat id tempus. Nulla nisl nunc, pretium non pellentesque eu, rhoncus sit amet nisi.Ut tristique lectus ut urna sodales, a iaculis dui placerat. Donec non lectus quis dui sodales mollis non ac sem.
                

                p  Cras tempor erat sit amet ligula finibus vulputate. Curabitur non condimentum eros, vel vestibulum dolor.Nullam vitae odio eu sem fringilla vehicula ut eleifend mi. Phasellus id consequat leo.Nulla tellus diam, dignissim ultrices vulputate eu, suscipit ut enim.Pellentesque nec dolor a felis consequat pulvinar eget ac nibh.Nam eu luctus justo. Morbi aliquet rhoncus nunc, auctor suscipit arcu lacinia ut.Suspendisse potenti. Suspendisse potenti.Donec a velit at massa placerat laoreet sollicitudin sed justo. Nulla efficitur turpis sed nulla elementum laoreet.Nullam ut mattis magna, ac finibus odio.


    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Maecenas et felis nec justo dictum tempus. Nulla ac commodo nibh. Maecenas mollis neque tortor, sit amet interdum mauris finibus et.In scelerisque neque vel neque porta finibus.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Maecenas et felis nec justo dictum tempus. Nulla ac commodo nibh. Maecenas mollis neque tortor, sit amet interdum mauris finibus et.In scelerisque neque vel neque porta finibus.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Maecenas et felis nec justo dictum tempus. Nulla ac commodo nibh. Maecenas mollis neque tortor, sit amet interdum mauris finibus et.In scelerisque neque vel neque porta finibus.